
body.admin {
  .translations {
    .available_locales {
      a { color: $link-color; }
      a.selected { font-weight: bold; font-size: 120%; text-decoration: underline; }
    }

    .filter {
      padding: 1ex;

      input { 
        width: 30em; 
      }
    }

    ul {
      list-style-type: none;
      margin-bottom: 1em;

      span.key {
        color: $mainmenu-color;
        font-size: 110%;
        cursor: pointer;
        margin-right: 1em;

        span.icon {
          margin-right: 1ex;
        }
      }

      span.value {
        display: block;
        margin-left: 1em;
      }
    }
  }
}
